@font-face{
    font-family: AlegreyaSans;
    src: url(AlegreyaSans-Regular.ttf);
}

*{
    margin:20px; 
    padding: 0px;
    box-sizing: border-box;

}

h1{
    text-align: center;
    font-size: 70px;
    color: white;
    line-height: 10px;
    padding-top: 10px;
    padding-bottom: 5px;

}

h2{
    text-align: center;
    font-size: 30px;
    color: darkslategray;
}

h3{
    color: white;
    font-size: 36px;
    padding-left: 233px;
}

body{
    background-color: #0075c9;
}

p{
    font-family: AlegreyaSans;
    color: black;
    text-align: justify;
    font-size: 20px;
}

#conteudo{
    width: 50%;
    background-color: white;
    padding: 10px;
}

#redessociais{
    width:20%;
    background-color: white;
    padding-left: 5px;
    padding-top: 0px;
    position: absolute;
    right: 40px;
}

#redessociais p{
    line-height: 5px;
    margin: 0;
}

#minhafoto{
    border-radius: 50%;
    width: 25%;
    position: absolute;
    bottom: 29%; 
    left: 62%;
}

#lista{
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    height: 100px;
}

#coluna1{
    color: white;
    font-size: 17px;
}

#coluna2{
    color: white;
    font-size: 17px;
    padding-left: 0;
}

#insta,#email{
    font-size:20px;
    padding:0px;
}
